{% extends "JobownerBundle::layoutJobowner.html.twig" %}
{% block content %}
<center>
<br><br>
<h1 style="color: #3c8dbc;">Panneau du paiement Jobowner</h1><br>
{% for m in montant %}
<h3>Votre montant : {{m.montant}} jetons</h3>
{% endfor %}
<br><br>

<form action="{{ path("tunisian_freelancer_addTransactionByJobowner")}}" method="post">
    <input type="hidden" name="idp" value="{{idp}}"/>
    Email Freelancer: &nbsp;
    <input type="text" name="email" required/>&nbsp;
    Montant :&nbsp;
    <input type="number" name="montant" required min="1"/>&nbsp;
    Date :&nbsp;
     <input type="date" name="date" required/>&nbsp;
    <input type="submit" value="payer un freelancer"/><p style="color: red;"><p>
</form>
<br><br>


<form action="{{ path("tunisian_freelancer_searchTransactionByJobowner")}}" method="post">
  Email Freelancer: &nbsp;
     <select name="email">
                <option value="tous">Tous les emails</option>
                {% for e in listEmailFreelancer %}
                <option value="{{e.email}}">{{e.email}}</option>
                {% endfor %}
     </select>&nbsp;
    De : &nbsp;
    <input type="date" name="date1" required/>&nbsp;
    à : &nbsp;
    <input type="date" name="date2" required/>&nbsp;
    <input type="hidden" name="idp" value="{{idp}}"/>&nbsp;
    <input type="submit" value="Rechercher"/>&nbsp;
    <a href="{{ path("tunisian_freelancer_listTransactionByJobowner")}}">Montrer tous les transactions</a>
    
</form><br>

{% if listTransactionByjobOwner|length > 0 %}
    
<div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
    
<tr>
        <th></th>
        <th align="center">Nom de freelancer</th>
        <th align="center">Prénom de freelancer</th>
        <th align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email de freelancer</th>
        <th align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date</th>
        <th align="center">Montant</th>
        <th></th>
</tr>  


    {% for lfp in listTransactionByjobOwner %}
        
        
<tr>
        <td align="center"><a href="{{ path("tunisian_freelancer_deleteTransactionByJobowner", {'idt':lfp.transactionId,'idp':idp})}}">Supprimer</a></td>
        <td align="center">{{lfp.nom}}</td>
        <td align="center">{{lfp.prenom}}</td>
        <td align="center">{{lfp.email}}</td>
        <td align="center">{{lfp.date|date('Y-m-d')}}</td>
        <td align="center">{{lfp.montant}}</td>
        <td align="center">
        <form action="{{ path("tunisian_freelancer_updateTransactionByJobowner")}}" method="post"><br>
        &nbsp;&nbsp;Date: 
        <input type="date" name="date" required/>&nbsp;
        <input type="hidden" name="idtransaction" value="{{lfp.transactionId}}"/>&nbsp;
        <input type="hidden" name="idp" value="{{idp}}"/>&nbsp;
        <input type="submit" value="Modifier le date"/>&nbsp;&nbsp;
        </form><br>
        </td>
</tr>   


    {% endfor %}
    
    
</table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="navigation">
    {{ knp_pagination_render(listTransactionByjobOwner) }}
    </div>
    
    {% endif %}
    
   {% if listTransactionByjobOwner == null %}
      <h1 style="color: #3c8dbc;">Pas de transactions :( </h1>  
   {% endif %}
   
   
</center>
   {% endblock %}